@import './base.css';
@import './season.css';
@import './flexboxgrid.min.css';

@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Teko:wght@400;500&display=swap');

body {
  background-image: var(--main-bg);
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
}

#app {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.2rem; 
  font-family: Mulish;
  font-weight: normal;
  color:var(--prime-text)
}
main {
  margin: 75px 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 75px);
  width: 100vw;
}


a {
  text-decoration: none;
  transition: 0.3s;
}
a:visited, a:link {
  color:var(--prime-text)
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    font-family: Mulish;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 rem;
  }
}

h1 {
  font-family: Teko;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.75rem;
}

h2 {
  font-family: Teko;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-family: Teko;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2rem;
}
p { 
  font-size: 1rem; 
  line-height: 1.2rem; 
  text-align: justify; 
  color:var(--seconde-text); 
  display:inline-block; 
  margin: 0.5rem 0; 
}

table {
  border-collapse: collapse;
}

.plain {
  position:relative;
  margin: 2.4rem 1.2rem 1.2rem;
  padding: 1.5rem  3rem;
  box-shadow: 0 0.3rem 0.5rem var(--shadow);
  border-bottom: 0.2rem solid;
}

.prime  {
  border-color: var(--prime-color);
  background: var(--prime-bg);

}
.seconde {
  border-color: var(--seconde-color) ;
  background-color: var(--seconde-bg);
  background-repeat: no-repeat;
  background-size: 100% 50px ;
  background-position: bottom;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}