$prime-color: #FF8217;
$prime-bg: rgba(11, 6, 0, 0.95);
$seconde-color: #AC483B;
$seconde-bg: rgba(48, 39, 37, 0.9);
$focus-bg: rgba(255, 130, 23, 0.8);
$focus-color: #EEE;
$prime-text:#EEE;
$seconde-text:#CCC;
$shadow: rgba(0, 0, 0, 0.90);
$link-contrast: #000;
$error-85: rgba(212, 0, 0, 0.85);
$success: #00A300;
$main-bg: url('../images/Autumn.jpg');
