@import './flexboxgrid.min.css';

@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Teko:wght@400;500&display=swap');

.zelda {
  cursor:pointer;
}

body {
  background-image: $main-bg;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
}

#app {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.2rem; 
  font-family: Mulish;
  font-weight: normal;
  color: $prime-text;
}
main {
  margin: 75px 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 75px);
  width: 100vw;
}
.row { 
  max-width: 100vw;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a:visited, a:link {
  color:$prime-text;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    font-family: Mulish;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 rem;
  }
}

h1 {
  @include headers;
  font-size: 3.25rem;
  line-height: 3.5rem;
}

h2 {
  @include headers;
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  @include headers;
  font-size: 1.75rem;
  line-height: 2rem;
}

h4 {
  @include headers;
  font-size: 1.25rem;
  line-height: 1.3rem;
}

p { 
  font-size: 1rem; 
  line-height: 1.2rem; 
  text-align: justify; 
  color:$seconde-text; 
  display:inline-block; 
  margin: 0.5rem 0; 
}

table {
  border-collapse: collapse;
}

.plain {
  position:relative;
  margin: 2.4rem 1.2rem 1.2rem;
  padding: 1.5rem  3rem;
  box-shadow: 0 0.3rem 0.5rem $shadow;
  border-top: 1px solid transparent;
  border-bottom: 2px solid transparent;
}
.prime  {
  @include borders($prime-color);
  background: $prime-bg;
}
.seconde {
  @include borders($prime-color);
  background-color: $seconde-bg;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}