$prime-color: #008822;
$prime-bg: rgba(0, 11, 3, 0.95);
$seconde-color: #289256;
$seconde-bg: rgba(37, 48, 40, 0.9);
$focus-bg: rgba(0, 136, 34, 0.8);
$focus-color: #EEE;
$prime-text:#EEE;
$seconde-text:#CCC;
$shadow: rgba(0, 0, 0, 0.90);
$link-contrast: #000;
$error: #C00;
$error-85: rgba(212, 0, 0, 0.85);
$success: #00A300;
$main-bg: url('../images/Background.jpg');
$nav-bg: linear-gradient(rgba(0,11,3,1),rgba(0,11,3,1),rgba(0,11,3,1),var(--prime-bg),rgba(0,11,3,0));
$header-bg: linear-gradient(#000,#000,#000,#000,rgba(0,11,3,0))