$prime-color: #FFC000;
$prime-bg: rgba(11, 9, 0, 0.95);
$seconde-color: #FFA00B;
$seconde-bg: rgba(48, 45, 37, 0.9);
$focus-bg: rgba(255, 192, 0, 0.8);
$focus-color: #0b0900;
$prime-text:#EEE;
$seconde-text:#CCC;
$shadow: rgba(0, 0, 0, 0.90);
$link-contrast: #0b0900;
$error-85: rgba(212, 0, 0, 0.85);
$success: #00A300;
$main-bg: url('../images/Summer.jpg');
