$prime-color: #00558D;
$prime-bg: rgba(0, 5, 11, 0.95);
$seconde-color: #91BFDC;
$seconde-bg: rgba(37, 45, 48, 0.9);
$focus-bg: rgba(0, 85, 141, 0.8);
$focus-color: #EEE;
$prime-text:#EEE;
$seconde-text:#CCC;
$shadow: rgba(0, 0, 0, 0.90);
$link-contrast: #000;
$error: #C00;
$error-85: rgba(212, 0, 0, 0.85);
$success: #00A300;
$main-bg: url('../images/Winter.jpg');
